<div class="sidebar col-3">
  <ul>
    <li><a href="/">Go to Homepage</a> </li>
    <li>Calls</li>
    <li><a href="/room">Lunch Roulette</a></li>
    <li><a href="/room">Never split the party</a></li>
    <li><a href="/room">Among us</a></li>
    <li>Chats</li>
    <li><a href="/general">General</a></li>
    <li><a href="/memes">Memes</a></li>
  </ul>
</div>
