<div class="sidebar col-3">
  <ul class="sidebarUL">
    <li class="sidebarTitle"><a href="/" id="home">Go to Homepage</a> </li>
    <li class="sidebarTitle">Calls</li>
    <li><a href="/room/lunchRoulette" id="lunchRoulette">Lunch Roulette</a></li>
    <li><a href="/room/neverSplitTheParty" id="neverSplitTheParty">Never split the party</a></li>
    <li><a href="/room/amongUs" id="amongUs">Among us</a></li>
    <li class="sidebarTitle">Chats</li>
    <li><a href="/general" id="general">General</a></li>
    <li><a href="/memes" id="memes">Memes</a></li>
  </ul>
</div>
